:host {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}


.bar{
  /* border:solid 0.5mm; */
  align-items:center;
}

.content{
  border:solid;
  height:100vh;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
 }
