
<div style="position: relative;">

  <mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>
      <canvas id="chart1" width="500" height="220"></canvas>
    </mat-grid-tile>

    <mat-grid-tile>
      <canvas id="chart2" width="500" height="220"></canvas>
    </mat-grid-tile>

    <mat-grid-tile>
      <canvas id="chart3" width="500" height="220"></canvas>
    </mat-grid-tile>

    <mat-grid-tile>
      <canvas id="chart4" width="500" height="220"></canvas>
    </mat-grid-tile>
  </mat-grid-list>

</div>

