/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
 }
