<div  class="centerVH" *ngIf="loading">
  <mat-spinner ></mat-spinner>
</div>

<div *ngIf="!loading">
<mat-card>
  <div class="container" style="width:50%">
    <div [hidden]="submitted">

      <form (ngSubmit)="onSubmit()" #userForm="ngForm">

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName"
                 required
                 [(ngModel)]="model.firstName" name="firstName"
                 #fname="ngModel"/>

          <div *ngIf="fname.invalid && (fname.dirty || fname.touched)"
                 class="alert alert-danger">


                <div *ngIf="fname.errors.required">
                  First Name is required.
                </div>

          </div>

        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName"
          required
          [(ngModel)]="model.lastName" name="lastName" #lname="ngModel">

          <div *ngIf="lname.invalid && (lname.dirty || lname.touched)"
                 class="alert alert-danger">

                <div *ngIf="lname.errors.required">
                  Last Name is required.
                </div>
          </div>
        </div>


        <div class="form-group">
          <label for="state">State</label>
          <select class="form-control" id="role" required [(ngModel)]="model.state" name="state" #state="ngModel"
            placeholder="d.ff" (change)="getStateCounties(state.value, 1)">
            <option hidden value="" disabled selected>Select State </option>>
            <option *ngFor="let state of states" [value]="state">{{state}}</option>
          </select>

          <div *ngIf="state.invalid && state.touched" class="alert alert-danger">

            <div *ngIf="state.errors.required">
              State is required.
            </div>
          </div>

        </div>

        <div class="form-group">
          <label for="county">County</label>
          <select class="form-control" id="role" [disabled]= "!countyListEnable" required [(ngModel)]="model.county" name="county" #county="ngModel"
            placeholder="d.ff">
            <option hidden value="" disabled selected>Select County </option>>
            <option *ngFor="let county of counties" [value]="county">{{county}}</option>
          </select>

          <div *ngIf="state.invalid && state.touched" class="alert alert-danger">

            <div *ngIf="state.errors.required">
              Counties is required.
            </div>
          </div>

        </div>

        <br>
        <div style="text-align: center;">
        <button type="submit" class="btn btn-success"  [disabled]="!userForm.form.valid">Submit</button>

        <span style="margin-left: 4em;"></span>

        <button type="button" mat-raised-button class="btn btn-danger"
        (click)="cancel()">Cancel</button>

        <div *ngIf = "errorMessage" class="alert alert-danger">
          {{submissionMessage}}
        </div>
      </div>
    </form>
</div>
</div>



